.registration__container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.registration__container * {
    margin: 10px 0 10px 0;
}

.button__submit {
    width: 200px;
    background-color: #F4671F;
}
