.post__container {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.post__info {
    display: flex;
    padding: 40px;
    background: teal;
}
.post__comments__container {
    display: flex;
    flex-direction: column;
}

.post__comments__comment {
    display: flex;
}